@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h2 {
  color: blue; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f9f9fb; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #888888; }
  a:hover {
    color: rgba(255, 255, 255, 0.8); }

.tag {
  font-size: 1.2rem;
  color: #888888; }

.nohover {
  pointer-events: none; }

p {
  font-size: 1.6rem; }

main {
  min-height: calc(100vh - 22rem);
  padding-top: 9rem; }

.container {
  max-width: 119rem;
  width: 85%;
  margin: 2.5rem auto; }
  .container h1 {
    font-size: 4.5rem; }
  .container h2 {
    font-size: 2.5rem; }

section {
  padding: 5rem 0; }

@media (max-width: 1000px) {
  .container {
    width: 90%; } }

@media (max-width: 550px) {
  .container {
    width: 85%; }
    .container h1 {
      font-size: 4rem; } }

@media (max-width: 380px) {
  .container h1 {
    font-size: 3.3rem; }
  .container p {
    font-size: 1.5rem; } }

@media (max-width: 360px) {
  .container h1 {
    font-size: 3rem; }
  .line {
    margin-top: 3rem; }
  .p-email {
    margin-bottom: 1rem; } }

@media (max-height: 740px) {
  .container-center {
    height: 60%; } }

@media (max-height: 600px) {
  .container-center {
    height: 70%; } }

.break {
  display: block; }

.hidden {
  display: none; }

.bold {
  font-weight: 700;
  letter-spacing: 1.1;
  color: #f9f9fb; }
  .bold-white {
    color: #f9f9fb;
    font-weight: 600; }

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px; }

.line {
  border: 1px solid rgba(255, 255, 255, 0.7);
  opacity: 0.7;
  width: 100%;
  border-radius: 6px;
  margin: auto; }

.underline {
  text-decoration: underline; }
  .underline-white {
    color: #f9f9fb; }

.semibold {
  font-weight: 600; }

.container-center {
  display: flex;
  height: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }

.flex {
  display: flex; }

.img {
  width: 100%; }

.align-left {
  text-align: left !important; }

.navbar {
  position: fixed;
  width: 100%;
  background: #212121;
  z-index: 99;
  transition: all 0.6s ease; }
  .navbar .hamburger {
    visibility: hidden;
    display: block;
    width: 0;
    height: 0;
    font-size: 2.5rem; }
    .navbar .hamburger:hover {
      opacity: 0.8; }
    .navbar .hamburger i {
      color: #f9f9fb; }
      .navbar .hamburger i:hover {
        color: rgba(255, 255, 255, 0.8); }
      .navbar .hamburger i:active {
        opacity: 0.9; }
  .navbar .flex {
    display: flex; }
  .navbar__container {
    display: flex;
    justify-content: space-between; }
    .navbar__container a {
      font-size: 1.6rem; }
  .navbar__menu {
    display: flex; }
    .navbar__menu li {
      padding: 1rem; }
    .navbar__menu .btn {
      display: inline; }
    .navbar__menu a {
      font-weight: 600; }
      .navbar__menu a:hover {
        border-bottom: 1px solid black; }
  .navbar__logo {
    cursor: pointer;
    font-weight: 200;
    color: #f9f9fb;
    text-align: center; }
    .navbar__logo img:hover {
      opacity: 0.8; }
    .navbar__logo a {
      color: #f9f9fb;
      font-size: 3rem;
      letter-spacing: 0.5px; }
    .navbar__logo__top-section {
      display: flex;
      align-items: center; }
    .navbar__logo__menu {
      flex-direction: column;
      display: none; }
      .navbar__logo__menu .btn {
        display: block; }

@media (max-width: 900px) {
  .navbar__container.container {
    flex-direction: column;
    margin: 1.5rem auto; }
  .navbar__top-section {
    display: flex;
    align-items: center;
    padding-bottom: 1rem; }
  .navbar .hamburger {
    visibility: visible;
    margin-right: 2rem;
    width: 2.4rem;
    height: 100%;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    display: flex;
    align-self: center; }
  .navbar__menu {
    flex-direction: column;
    display: none; }
    .navbar__menu .btn {
      display: block; }
    .navbar__menu li:hover:not(:last-child) {
      background: #4b4b4b; }
      .navbar__menu li:hover:not(:last-child) a {
        color: rgba(255, 255, 255, 0.8); }
        .navbar__menu li:hover:not(:last-child) a:hover {
          border: none; } }

@media (max-width: 500px) {
  .navbar__logo a {
    font-size: 2.8rem; } }

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between; }

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.footer .copyright {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.6rem; }

.footer-name {
  color: #f9f9fb; }
  .footer-name:hover {
    color: rgba(255, 255, 255, 0.8); }

.footer__icon svg {
  font-size: 3rem;
  margin-right: 1.2rem;
  color: #f9f9fb; }
  .footer__icon svg:hover {
    color: rgba(255, 255, 255, 0.8); }

@media (max-width: 425px) {
  .footer__icon i {
    font-size: 3rem; }
  .footer__content {
    flex-direction: column; }
    .footer__content p {
      font-size: 1.8rem; } }

.cards {
  display: flex; }
  .cards .card {
    background-color: white;
    margin: 0 1.1rem;
    padding: 3rem;
    text-align: left;
    border-radius: 6px;
    width: 33%; }
    .cards .card__img img {
      width: 100%; }
    .cards .card h3 {
      color: black;
      font-size: 2.2rem; }
    .cards .card__description {
      color: black;
      margin-bottom: 2rem; }
    .cards .card .underline {
      color: black; }
      .cards .card .underline:hover {
        color: rgba(0, 0, 0, 0.7); }
    .cards .card__cta {
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: 2rem; }
    .cards .card__icons {
      display: flex; }
    .cards .card__icon {
      font-size: 4.3rem;
      margin-right: 1.5rem; }
      .cards .card__icon svg {
        color: gray; }
        .cards .card__icon svg:hover {
          color: black; }
    .cards .card__subheading {
      color: black;
      font-size: 1.7rem; }
    .cards .card__list {
      list-style: disc;
      padding-left: 1.7rem;
      margin-bottom: 2rem; }
      .cards .card__list-container {
        display: flex;
        justify-content: space-between; }
      .cards .card__list li {
        color: black;
        font-size: 1.4rem; }

@media (max-width: 1350px) {
  .card__list-container {
    flex-direction: column; } }

@media (max-width: 1090px) {
  .cards {
    flex-direction: column; }
    .cards .card {
      width: 100%;
      margin: 1rem 0; }
      .cards .card__list li {
        list-style: none; }
      .cards .card__icons {
        justify-content: center; }
      .cards .card__list {
        padding-left: 0; }
        .cards .card__list-container {
          flex-direction: row;
          justify-content: center; }
          .cards .card__list-container div {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            width: 20rem; }
            .cards .card__list-container div li {
              list-style: none; } }

@media (max-width: 500px) {
  .cards .card {
    padding: 2.5rem; }
    .cards .card__description {
      margin-bottom: 1rem; }
    .cards .card__list-container {
      flex-direction: column;
      align-items: center; } }

@media (max-width: 450px) {
  .cards .card {
    width: 90%;
    margin-left: auto;
    margin-right: auto; } }

h1 {
  font-weight: 600;
  font-size: 6rem;
  line-height: 6rem; }

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.hero__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem; }

.hero__heading {
  margin: 0 0 2rem 0; }

.hero__intro {
  font-size: 1.5rem;
  font-weight: 400;
  color: #888888;
  line-height: 2.5; }
  .hero__intro .bold {
    color: #f9f9fb;
    opacity: 0.9; }

.hero__copy {
  width: 42rem;
  line-height: 1.5; }
  .hero__copy p {
    font-size: 1.9rem;
    line-height: 3.5rem;
    letter-spacing: 0.7; }

.hero__cta-buttons .btn--primary {
  margin-right: 2rem; }

@keyframes updown {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(1rem); } }

.chevron-container {
  display: block;
  text-align: center;
  animation: updown infinite alternate 1.5s ease-in-out; }
  .chevron-container i {
    font-size: 15px; }

.hero__img {
  width: 35rem; }

.img--round {
  border-radius: 50%; }

@media (max-width: 1000px) {
  .hero__img {
    width: 30rem; } }

@media (max-width: 880px) {
  .hero__container {
    flex-direction: column-reverse; }
  .hero__img {
    margin-bottom: 4rem; } }

@media (max-width: 550px) {
  #hero {
    padding: 1rem 0 4.5rem 0; }
  .hero__text-wrapper {
    gap: 1rem; }
  .hero__cta-buttons {
    margin-bottom: 0; }
  .hero__img {
    width: 30rem;
    margin-bottom: 3rem; }
  .hero__copy {
    width: 100%; }
    .hero__copy p {
      font-size: 1.7rem;
      line-height: 3rem; } }

@media (max-width: 380px) {
  .hero__copy {
    font-size: 1.6rem; }
  .hero__img {
    width: 18rem;
    margin-bottom: 0.5rem; }
  .hero__cta-buttons .btn--primary {
    margin-bottom: 1.5rem; }
  .hero__cta-buttons .btn {
    margin-right: 1rem; } }

@media (max-width: 400px) {
  .hero__img {
    width: 25rem; }
  .hero__text-wrapper h1 {
    font-size: 3.3rem;
    line-height: 1.5; } }

@media (max-width: 360px) {
  .hero__img {
    display: none; } }

#about .about__container {
  text-align: center; }

#about .about__heading {
  display: flex;
  justify-content: space-evenly;
  font-size: 2.8rem; }

#about .about__subheading {
  font-size: 2rem;
  color: gray;
  line-height: 1.4; }

#about .about__text {
  margin: 2rem 0; }
  #about .about__text p {
    line-height: 1.6; }

@media (max-width: 1000px) {
  #about {
    padding: 3rem 0; } }

.links {
  padding: 0; }
  .links__heading {
    font-size: 3rem !important; }
  .links__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .links__card {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 2rem;
    margin: 2rem auto;
    width: 50rem;
    text-align: center;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px; }
    .links__card h3 {
      font-size: 18px;
      font-weight: 500; }
    .links__card p {
      font-size: 16px; }
  .links .link {
    padding: 2rem;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6); }
    .links .link:last-child {
      border-bottom: none; }
    .links .link:hover {
      background: rgba(0, 0, 0, 0.2); }
  .links .vid-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin: 1rem 0; }
  .links .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .links__heading {
    font-size: 22px;
    line-height: 1.5; }
  .links__img {
    width: 15rem;
    border-radius: 50%;
    margin-bottom: 1rem; }

@media (max-width: 560px) {
  .links__card {
    width: 100%; } }

.portfolio__container {
  text-align: center; }

.portfolio h2 {
  text-align: left; }

.portfolio .cards {
  margin: 2rem auto; }

.portfolio .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .portfolio .card__buttons {
    display: flex; }
    .portfolio .card__buttons .btn:last-child {
      margin-right: 0; }
  .portfolio .card .btn i {
    color: #f9f9fb;
    font-size: 2.4rem;
    text-align: center; }

.btn {
  padding: 1rem 2rem;
  border-radius: 6px;
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
  display: inline-block; }
  .btn:hover {
    transform: translateY(-1px); }
  .btn:active {
    transform: translateY(1px); }
  .btn--black {
    background-color: black;
    color: #f9f9fb; }
  .btn--primary {
    background: #0a7896;
    color: #f9f9fb;
    font-weight: 600; }
    .btn--primary:hover {
      opacity: 0.8; }
  .btn--white {
    background: #f9f9fb;
    color: black; }
    .btn--white:hover {
      color: rgba(0, 0, 0, 0.7);
      background-color: rgba(255, 255, 255, 0.8); }
  .btn--secondary {
    border: 1px solid #f9f9fb;
    color: #f9f9fb; }
  .btn.margin-right {
    margin-right: 1rem; }
  .btn-contact-navbar {
    margin-top: 0; }

.container-error {
  height: 50vh; }

.contact__container {
  text-align: center; }
  .contact__container h1 {
    font-size: 4.5rem; }
  .contact__container .contact__form {
    text-align: center;
    max-width: 50%;
    margin: 2rem auto; }
    .contact__container .contact__form input,
    .contact__container .contact__form textarea {
      width: 100%;
      margin: 0.8rem 0;
      box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
      background: white;
      padding: 1rem;
      border: 1px solid transparent;
      -webkit-appearance: none;
      font-family: "Poppins", sans-serif;
      border-radius: 6px;
      font-size: 1.6rem; }
    .contact__container .contact__form textarea {
      height: 10rem;
      border-radius: 9px;
      padding: 16px;
      resize: vertical;
      min-height: 5rem; }
    .contact__container .contact__form .btn {
      font-family: "Poppins", sans-serif;
      margin: 2rem 0;
      outline: none;
      border: 1px solid transparent; }
      .contact__container .contact__form .btn i {
        color: black; }
      .contact__container .contact__form .btn:hover i {
        color: gray; }

.success__container h1 {
  font-size: 5rem; }

.success__container p {
  font-size: 1.8rem; }

.success__container .fa-check-circle {
  font-size: 7rem;
  color: green;
  border-radius: 50%;
  transform: scale(1.1); }

.success__container .fa-frown-open {
  font-size: 7rem; }

.success__container .icon-container {
  background: white;
  border-radius: 50%;
  margin: 1rem; }

.success__container .icon-success {
  color: white;
  overflow: hidden; }

.success__container .icon-circle {
  color: green;
  overflow: hidden; }

.success__container .icon-return {
  color: #212121;
  margin-right: 4px; }

.success__container .btn {
  margin: 2rem; }

@media (max-width: 900px) {
  .contact__container .contact__form {
    max-width: 100%; } }

@media (max-width: 415px) {
  .contact__container .contact__form {
    max-width: 90%; } }

.wallpapers {
  text-align: center; }
  .wallpapers .wallpaper {
    text-align: left;
    width: 100%;
    margin-top: 2rem; }
  .wallpapers .img {
    width: 100%;
    margin-top: 1rem;
    width: 100%; }
  .wallpapers__buttons .btn {
    margin: 2rem 0 1rem 0;
    display: inline-block; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background-color: #212121;
  color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  line-height: 1.7;
  font-family: "Poppins", sans-serif; }
