@import "variables";

// Navbar
.navbar {
  position: fixed;
  width: 100%;
  background: $bg-color;
  z-index: 99;
  transition: all 0.6s ease;

  .hamburger {
    visibility: hidden;
    display: block;
    width: 0;
    height: 0;
    font-size: 2.5rem;

    &:hover {
      opacity: 0.8;
    }

    i {
      color: $white-color;

      &:hover {
        color: $hover-color-white;
      }
      &:active {
        opacity: 0.9;
      }
    }
  }

  .flex {
    display: flex;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    a {
      font-size: 1.6rem;
    }
  }

  &__menu {
    display: flex;
    // justify-content: center;

    li {
      // margin-right: 12px;
      padding: 1rem;
    }

    .btn {
      display: inline;
    }

    a {
      font-weight: 600;

      &:hover {
        border-bottom: 1px solid black;
      }
    }
  }

  &__logo {
    cursor: pointer;
    font-weight: 200;
    color: $white-color;
    text-align: center;
    img:hover {
      opacity: 0.8;
    }
    a {
      color: $white-color;
      font-size: 3rem;
      letter-spacing: 0.5px;
    }

    &__top-section {
      display: flex;
      align-items: center;
    }

    &__menu {
      flex-direction: column;
      display: none;

      .btn {
        display: block;
      }
    }
  }
}

@media (max-width: 900px) {
  .navbar {
    &__container.container {
      flex-direction: column;
      margin: 1.5rem auto;
    }

    &__top-section {
      display: flex;
      align-items: center;
      padding-bottom: 1rem;
    }
    .hamburger {
      visibility: visible;
      margin-right: 2rem;
      width: 2.4rem;
      height: 100%;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      cursor: pointer;
      outline: inherit;
      display: flex;
      align-self: center;
    }

    &__menu {
      flex-direction: column;
      display: none;

      .btn {
        display: block;
      }

      li:hover:not(:last-child) {
        background: #4b4b4b;

        a {
          color: $hover-color-white;

          &:hover {
            border: none;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .navbar__logo a {
    font-size: 2.8rem;
  }
}
