$bg-color: #212121;
$white-color: #f9f9fb;
$text-color: rgba(255, 255, 255, 0.7);
$link-color: #888888;
$hover-color-white: rgba(255, 255, 255, 0.8);
$hover-color-black: rgba(0, 0, 0, 0.7);
$test-color: #425466;
$hero-gap: 1rem;
$section-gap: 2rem;
$radius: 6px;
$box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
