@import "variables";

// Portfolio
.portfolio {
  &__container {
    text-align: center;
  }

  h2 {
    text-align: left;
  }

  .cards {
    margin: 2rem auto;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__buttons {
      display: flex;

      .btn:last-child {
        margin-right: 0;
      }
    }

    .btn {
      i {
        color: $white-color;
        font-size: 2.4rem;
        text-align: center;
      }
    }
  }
}
