@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "base";
@import "variables";
@import "util";
@import "navbar";
@import "footer";
@import "card";
@import "hero";
@import "links";
@import "work";
@import "button";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // setting the root font size to be used with rem
  scroll-behavior: smooth;
}

body {
  background-color: $bg-color;
  color: $text-color;
  box-sizing: border-box;
  line-height: 1.7;
  font-family: "Poppins", sans-serif;
}
